<div class="newExpense">
    <span class="expense-content">You spent {{this.value}} for {{this.description}} - Category: {{this.category}}</span>
    <form method="POST" action="/home/{{this.userId}}/{{this._id}}?_method=DELETE">
        <button type="submit" name="button">Delete</button>
    </form>
    <!-- need reciept if there -->
    <!-- add date -->
</div>
<!--need to completely restyle-->
